<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer-Ordered</title>
    <link rel="stylesheet" href="../../food-list.css">
</head>
<body>
    <div class="container">
        <div class="customers-order" id="custom-order">

        </div>
        <div class="food-item-list">
            <h2>Maggie</h2>
            <div class="maggie">
                <a href="../maggie/Creamy-Chessy-meggie.html" class="maggie-list">
                    <div class="maggie-flavour-image">
                        <img src="../../Assets/creamy-cheesy-maggie.jpg" alt="">
                    </div>
                    <div class="maggie-flavour-detail">
                        <h3>Creamy and Chessy Italiano Maggie Noodles</h3>
                    </div>
                </a>
                <div class="maggie-list">
                    <div class="maggie-flavour-image">
                        <img src="../../Assets/sweet-sout-maggie.jpg" alt="">
                    </div>
                    <div class="maggie-flavour-detail">
                        <h3>Sweet and Sour Veggie Maggie Noodles</h3>
                    </div>
                </div>
                <div class="maggie-list">
                    <div class="maggie-flavour-image">
                        <img src="../../Assets/curry-lemon-maggie.jpg" alt="">
                    </div>
                    <div class="maggie-flavour-detail">
                        <h3>Curry Lemon Egg Bhurji Maggie Noodles</h3>
                    </div>
                </div>
                <div class="maggie-list">
                    <div class="maggie-flavour-image">
                        <img src="../../Assets/paneer-taka-tak.jpg" alt="">
                    </div>
                    <div class="maggie-flavour-detail">
                        <h3>Paneer Taka Tak Bhurji Maggie Noodles</h3>
                    </div>
                </div>
            </div>
            <h2>Pasta</h2>
            <div class="maggie">
                <a href="../maggie/Creamy-Chessy-meggie.html" class="maggie-list">
                    <div class="maggie-flavour-image">
                        <img src="../../Assets/creamy-cheesy-maggie.jpg" alt="">
                    </div>
                    <div class="maggie-flavour-detail">
                        <h3>Creamy and Chessy Italiano Maggie Noodles</h3>
                    </div>
                </a>
                <div class="maggie-list">
                    <div class="maggie-flavour-image">
                        <img src="../../Assets/sweet-sout-maggie.jpg" alt="">
                    </div>
                    <div class="maggie-flavour-detail">
                        <h3>Sweet and Sour Veggie Maggie Noodles</h3>
                    </div>
                </div>
                <div class="maggie-list">
                    <div class="maggie-flavour-image">
                        <img src="../../Assets/curry-lemon-maggie.jpg" alt="">
                    </div>
                    <div class="maggie-flavour-detail">
                        <h3>Curry Lemon Egg Bhurji Maggie Noodles</h3>
                    </div>
                </div>
                <div class="maggie-list">
                    <div class="maggie-flavour-image">
                        <img src="../../Assets/paneer-taka-tak.jpg" alt="">
                    </div>
                    <div class="maggie-flavour-detail">
                        <h3>Paneer Taka Tak Bhurji Maggie Noodles</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/food_list.js"></script>
</body>
</html>